/* T.K'S SECTION */
.vForest {
  border: 3px solid #4CAF50; 
  border-radius: 15px; 
  padding: 20px;
  text-align: left; 
  background-color: #cefad0; 
  max-width: fit-content;
}

h3 {
  border: 3px solid #4CAF50; 
  border-radius: 10px;
  padding: 15px;
  background-color: #f1f8e9; 
  font-style: italic; 
  text-align: left; 
  margin-top: 50px;
  max-width: fit-content;
  top: 100px;
}

.TKPARA1 {
  border: 2px solid #81C784;
  border-radius: 8px;
  padding: 10px;
  line-height: 1.6;
  background-color: #cefad0;  
  max-width: fit-content;
  margin-top: 27px;
}

.TKPARA2 {
	border: 2px solid #008631;
	border-radius: 10px;
	padding: 20px;
	background-color: #abf7b1;
	max-width: fit-content;
	margin-top: 30px;
	font-size: 18px;
}

.TKpoints {
	border: 1px dashed #008631;
	border-radius: 12px;
	padding: 5px;
	background-color: #abf7b1;
	max-width: 236px;
	font-size: 17px;
	line-height: 1.1;
}

.TKLOGO1 {
	position: absolute;
	top: 20px;
	right: 35px;
}

.TKLOGO1 img {
	width: 250px;
	height: 250px;
}

.forest1 {
	position: absolute;
	top: 200px;
	right: 80px;
}

.forest1 img {
	width: 220px;
	height: 220px;
	border: 4px solid #4CAF50;
}

.forest2 {
	position: absolute;
	top: 200px;
	right: 310px;
}

.forest2 img {
	width: 220px;
	height: 220px;
	border: 4px solid #4CAF50;
}

.forest3 {
	position: absolute;
	top: 430px;
	right: 80px;
}

.forest3 img {
	width: 220px;
	height: 220px;
	border: 4px solid #4CAF50;
}

.forest4 {
	position: absolute;
	top: 430px;
	right: 310px;
}

.forest4 img {
	width: 220px;
	height: 220px;
	border: 4px solid #4CAF50;
}

.20MH1 {
	border: 7px solid #008631;
	border-radius: 10px; 
	padding: 10px;
	background-color: #d3d3d3;
	max-width: fit-content;
}

.funkymonkey {
	border: 4px groove #008631;
	border-radius: 10px;
	padding: 15px;
	background-color: #abf7b1;
	max-width: fit-content;
	line-height: 1.5;
	margin-top: 40px;
}

.TKLOGO2 {
	position: absolute;
	top: 20px;
	right: 35px;	
}
	
.TKLOGO2 img {
	width: 250px;
	height: 250px;
}

.testrun {
	position: absolute;
	left: 70px;
	margin-top: 50px;
}

.testrun img {
	width:300px;
	height: 270px;
	border-radius: 50%;
	border: 5px solid #abf7b1;	
}

.factstitle {
	position: absolute;
	right: 550px;
	top: 230px;
	border: 3px solid;
	border-radius: 15px;
	
}
	
.buttonpre {
	position: absolute;
	right: 595px;
	top: 300px;
	border: dashed 2px;
}

.TKBOX {
	position: absolute;
	top: 175px;
	right: 403px;
	border: 4px double #008631; 
	height: 300px;
	width: 500px;
	border-radius: 6%;
	background-color: #d4ebf2;
	}

.funfacts {
	position: absolute;
	top: 104px;
	right: 589px;
	border: double 4px #008631;
	border-radius: 10%;
	background-color: #d4ebf2
}

.Fdisplay {
	position: absolute;
	top: 350px;
	right:420px;
}

#modalbut {
	position: absolute;
	top: 600px;
	right: 490px;
	border-radius: 5px;
	border: 2px solid #008631; 
	width: 320px;
	height:80px;
	font-size: 45px;
	transition: .1s;
}

#modalbut:hover {
	background-color: #d4ebf2;
	color: #000;
}

#modal {
	background-color: #ffffff;
	position: absolute;	
	top: 50%;
	left:50%;
	font-size: 25px;
	transform: translate(-50%, -50%);
	width: 120px;
	height: 80px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 15px;

	animation-name: animatedmodal;
	animation-duration: .5s;

}

#closemodal {
	font-size: 30px;
	cursor: pointer;	
	color: #ff3333;
}

#container {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: rgba(0, 0, 0, .3);
}

@keyframes animatedmodal {
	from {
		top: -200px;
		opacity: 0;
	}
	
	to {
		top: 50%;
		opacity: 1;
	}
}
		
/* T'K'S SECTION END */
/* S'Q'S SECTION */
.img-background{
	background: url("img/sq_bg.jpg");
	background-color: #ffffff;
}
.sqsc1{

}
.sqsc2{

}
.sqsc3{

}
.sqgraph{

}
.pg1parasq1{
	color: black;
	background-color: rgba(0, 255, 149, 0.7);
	border-radius: 12px 48px;
	padding: 20px;
}
.pg1parasq2{
	color: black;
	background-color: rgba(0, 255, 149, 0.7);
	border-radius: 12px 48px;
	padding: 20px;
}
.pg1parasq3{
	color: black;
	background-color: rgba(0, 255, 149, 0.7);
	border-radius: 12px 48px;
	padding: 20px;
}
.pg1form1sq{
	color: black;
	background-color: rgba(0, 255, 149, 0.7);
	border-radius: 12px 48px;
	padding: 50px;
}
/*			SQ PAGE 1 END			*/

/*			SQ PAGE 2 START			*/
.pg2parasq1{
	color: black;
	background-color: rgba(0, 255, 149, 0.7);
	border-radius: 12px 48px;
	padding: 20px;
}
.pg2parasq2{
	color: black;
	background-color: rgba(0, 255, 149, 0.7);
	border-radius: 12px 48px;
	padding: 20px;
}
.pg2parasq3{
	color: black;
	background-color: rgba(0, 255, 149, 0.7);
	border-radius: 12px 48px;
	padding: 20px;
}
.squf1{
	margin-left: 105px;
	margin-top: 20px;
} 
.squf2{
	margin-left: 105px;
	margin-top: 20px;
} 
.squf3{
	margin-left: -105px;
	margin-top: 20px;
}
.squf4{
	margin-left: -105px;
	margin-top: 20px;
} 
.theFormsq{
	color: black;
	background-color: rgba(0, 255, 149, 0.7);
	border-radius: 12px 48px;
	padding: 40px;
}
.pq2form1sqtitle{
	font-size: 40px;
}
/* S.Q SECTION END  */


/* W.S'S SECTION */
h4{
	text-align: center; /* this centers the h4 text */
}

h5{
	text-align: center; /* this centers the h5 text */
}

a {
	text-decoration: none;
	color: #167f36;
}

.wsParagraph {
	text-align: center;
	color: #167f36;
	font-family: "Nunito", sans-serif;
	font-weight: 200;
	font-style: normal;
}

.greenTrack {
	color: #167f36;
	text-align: center;
} 

.spongeCity {
	color: #167f36;
	text-align: center;
}

.greenBlock {
	background-color: #f8f9fa;
	color: #404E4D;
	padding: 20px;
	font-family: "Nunito", sans-serif;
	font-weight: 250;
	font-style: normal;
}

.theForm {
	text-align: center; /* this centers the form */
	max-width: 500px; /* determines the maximum width of the form */
	background-color: #f8f9fa; /* determines the background colour of the form */
	border: 2px solid #404E4D; /* determines what colour the form's border will be */
	border-radius: 5px;
	width: 50%;
	margin: 0 auto; /* no margin */
	padding: 20px 40px 20px 40px;
	font-weight: 500;
	font-style: normal; /* no changes in font style */
	color: #404E4D;
	font-family: "Nunito", sans-serif;
	font-weight: 500;
	font-style: normal;
}

input[type="text"] {
	margin: 4px 4px 2px 2px;
	border: none;
	border: 2px solid #404E4D;
}

.formPara {
	text-align: center;
	color: #404E4D;
}

.wsGT1 {
	margin-left: 10px;
	margin-top: 10px;
}

.wsGT2 {
	margin-left: 275px;
	margin-top: -250px;
}

.wsGT3 {
	margin-left: 10px;
	margin-top: 15px;
}

.wsGT4 {
	margin-left: 275px;
	margin-top: -250px;
}

.buttonContainer {
	text-align: center;
}
.button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}

#station {
	text-align: center;
}

.climateCrisis {
	width: 300px; /* sets a width for the button and it's text */
	border-radius: 10px;
	padding: 25px;
	margin: 25px auto; /* gives the button and the text some space */
	text-align: center; /* centers the button and text */
	background-color: #f8f9fa; /* background colour */
	color: #404E4D; /* text colour */
	font-family: "Nunito", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.spongey {
	background-color: #f8f9fa;
	color: #404E4d;
	padding: 20px;
	font-family: "Nunito", sans-serif;
	font-weight: 250;
	font-style: normal;
}

.paraOne {
	background-color: #f8f9fa;
	color: #404E4d;
	padding: 20px;
	font-family: "Nunito", sans-serif;
	font-weight: 250;
	font-style: normal;
	text-align: left;
	margin-left: -95px;
	margin-top: -25px;
}

.paraTwo {
	background-color: #f8f9fa;
	color: #404E4d;
	padding: 20px;
	font-family: "Nunito", sans-serif;
	font-weight: 250;
	font-style: normal;
	text-align: right;
	margin-right: -95px;
	margin-top: -50px;
}