/* T.K'S SECTION */

/* W.s's SECTION */
h4{
	text-align: center; /* this centers the h4 text */
}

h5{
	text-align: center; /* this centers the h5 text */
}

a {
	text-decoration: none;
	color: #167f36;
}